main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:35px
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #79759f;
    opacity: 80%;
    padding-left: 60px;

}
h1 {
    color: #2c2850;
}
.header {
    display: flex;
    flex-direction: row;
    gap: 10px
}
nav a {
    color: #1e3649;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}
.form-vv {
    padding: 30px;
}
.card {
    background-color: #79759f;
    width: 40%;
    height: auto;
    border: none;
    box-shadow: 16px 17px 11px 3px rgba(44,40,80,0.52);
    -webkit-box-shadow: 16px 17px 11px 3px rgba(44,40,80,0.52);
    -moz-box-shadow: 16px 17px 11px 3px rgba(44,40,80,0.52);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-btn-vv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: #86adda;
    padding-left: 60px;
}

.vv-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}
#wish_submit,
.btn-secondary {
    background-color: #86adda;
    border:none;
    color: #1e3649;
}

#wish_submit:hover,
.btn-secondary:hover {
    background-color: #1e3649;
    border:none;
    color: #86adda;
}
.list-group {
    /*background-color: #79759f;*/
    display: flex;
    gap: 15px;
    width: 550px;
    text-align: center;

    /*box-shadow: 16px 17px 11px 3px rgba(44, 40, 80, 0.52);*/
    /*-webkit-box-shadow: 16px 17px 11px 3px rgba(44, 40, 80, 0.52);*/
    /*-moz-box-shadow: 16px 17px 11px 3px rgba(44, 40, 80, 0.52);*/
    border-radius: 12px;
    padding: 0;

}

.list-group-item {
    background-color: #79759f;
    color: #1e3649;
    padding: 25px;
    border-bottom: 1px solid #86adda;
    border-radius: 12px;
    box-shadow: 5px 5px 11px 3px rgba(44, 40, 80, 0.52);
    -webkit-box-shadow: 5px 5px 11px 3px rgba(44, 40, 80, 0.52);
    -moz-box-shadow: 5px 5px 11px 3px rgba(44, 40, 80, 0.52);
}

.list-group-item-action:not(.active):hover {
    background-color: #86adda;
}
